@import url('https://fonts.googleapis.com/css?family=Antic+Slab');

/* Title */
.sidebar-about h1 {
  font-family: 'Antic Slab', serif;
  font-size: 2rem;
}
@media (max-height: 730px) and (min-width: 48em) {
  .sidebar-about h1 {
    font-size: 2.25rem;
  }
}
@media (min-height: 730px) and (min-width: 48em) {
  .sidebar-about h1 {
    font-size: 3rem;
  }
}

/* Sidebar */
.sidebar {
  padding: 1rem;
}
@media (min-height: 730px) and (min-width: 48em) {
  .sidebar {
    padding: 2rem 1rem;
  }
}

/* Content */
.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 48em) {
  .content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* Social Media Links */
.sidebar-icons {
  width: 100%;
  margin-top: 1em;
}
.icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}
.icon-link {
  display: inline-block;
  width: 25%;
  height: 1em;
}
.sidebar-nav {
  margin-bottom: 0;
}

/* Logo Changes */
#logo {
  display: block;
  max-width: 40%;
  margin: 5% auto;
}
@media (max-height: 565px) and (min-width: 48em) {
  #logo {
    display: none;
  }
}
@media (min-height: 730px) and (min-width: 48em) {
  #logo {
    max-width: 50%;
    margin: 5% auto;
  }
}

/* Google Slides embedded - needs a wrapping div with  */
.slidescontainer {
  position: relative;
  width: 100%;
  padding-bottom: 62.5%;
  max-width: 720px;
}
.slides {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}